body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #444;
}
